dbrhino-agent_*.orig.tar.gz
dbrhino-agent_*.debian.tar.xz
dbrhino-agent_*.dsc
dbrhino-agent_*.changes
dbrhino-agent_*.deb

dbrhino-agent/*
!dbrhino-agent/debian/
*debhelper*
dbrhino-agent/debian/dbrhino-agent
dbrhino-agent/debian/dbrhino-agent.substvars
dbrhino-agent/debian/files
